.todo_item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba( 255, 255, 255, .2);
}


/* SVG STYLES */

.delete_icon svg {
  display: flex;
  align-items: center;
  fill: #ffffff;
  opacity: .4;
}

.delete_icon svg:hover {
  cursor: pointer;
  opacity: 1;
}


/* CHECKBOX SETUP AND STYLES */

.todo_item {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 40px;
  padding-bottom: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo_item label {
  cursor: pointer;
  vertical-align: middle;
}

.todo_item input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid rgba( 255, 255, 255, .4);
  border-radius: 50%;
}

.todo_item:hover input[type="checkbox"] ~ .checkbox {
  cursor: pointer;
  background: linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -moz-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -webkit-gradient(linear, 131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -webkit-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -o-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  border: none;
}

.todo_item input[type="checkbox"]:checked ~ .checkbox {
  background: linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -moz-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -webkit-gradient(linear, 131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -webkit-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  background: -o-linear-gradient(131.73deg, #72BEF8 14.46%, #A674F2 87.62%);
  border: none;
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  height: 24px;
  width: 24px;
}

.todo_item input:checked ~ .checkbox:after {
  display: block;
  background-repeat: no-repeat;
  background-image: url('./../../assets/icon__check.svg');
}