.add_todo_form {
  display: flex;
}

.add_todo_input {
  width: 100%;
  margin: 27px 0 24px;
  padding: 20px 16px;
  background-color: #25273C;
  font-size: 16px;
  color: rgba( 255, 255, 255, .4);
  border: none;
  border-radius: 7px;
}