/* * {
  outline: 1px solid salmon;
  outline-offset: -1px;
} */

body {
  margin: 0;
  background-color: #181824;
  font-family: 'Verdana', sans-serif;
  color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* TYPOGRAPHY STYLES */

h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 29px;
  text-transform: uppercase;
}

.h1__desktop {
  font-size: 36px;
  line-height: 44px;
}